@model IEnumerable<FIT5032_Assignment1.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Booking Room</h2>

<p>
    @Html.ActionLink("Create New", "Index", "Hotels")
</p>
<table class="table">
    <tr>
        <th>
            Hotel Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_id)
        </th>
        <th>
            Room Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkin_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkout_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Hotel.Hotel_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Room_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checkin_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checkout_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Booking_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Booking_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Booking_id })
        </td>
    </tr>
}

</table>
